<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation= "http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:b="http://www.springframework.org/schema/beans">

    <context:component-scan base-package="se.vgregion.ifeed.backingbeans"/>
    <context:component-scan base-package="se.vgregion.ifeed.service.ifeed"/>

    <context:annotation-config/>

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

    <import resource="classpath*:spring/ifeed-datasource-config.xml" />
    <import resource="classpath*:spring/ldap-config.xml"/>
    <import resource="classpath*:spring/ifeed-services-config.xml"/>

    <!-- Declaration of bean that is injected into beans with the Autowire annotation. Security. -->
    <bean id="resourceLocalService" class="com.liferay.portal.service.ResourceLocalServiceUtil" factory-method="getService" />

    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="view">
                    <bean class="se.vgregion.ifeed.customscope.ViewScope"/>
                </entry>
            </map>
        </property>
    </bean>

    <!--<bean name="justToSetMetadataService" class="se.vgregion.ifeed.scheduler.MetadataJob">
        <property name="metadataService" value="${metadataService}"/>
    </bean>-->

</beans>
